AddHandler cgi-script .py
Options +ExecCGI
DirectoryIndex index.py
Redirect /projects.git/mtg/deckchecks/ http://deckchecks.matthew.ath.cx/

RewriteEngine On
RewriteRule (.*)/style.css$ /style.css [L]
RewriteRule (.*)/(.*)$ /$2.py?event=$1 [L,QSA]
